# Dependencies
node_modules
.pnpm-store

# Build
dist
build
*.tsbuildinfo

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
*.lcov

# Docker
docker-data/

# Prisma generated clients
apps/**/src/generated/

